/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/* general *******************************************/
/****************************************************/
:root {
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --color-n3: #fff;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 90px;
  --indent: 50px;
  --indent2: 100px;
}
.wrapp {
  @apply relative w-full h-auto overflow-hidden;
}

.listing__section {
  @apply h-full w-full;
}
.main {
  @apply relative z-[2];
}
.content {
  @apply w-full h-auto pr-[var(--indent)] pl-[var(--indent)] py-0;
}
.parallax__wrapp {
  @apply w-full h-full bg-black;
}
.header {
  @apply h-screen overflow-hidden;
}
.header .parallax__wrapp {
  @apply relative pt-[var(--indent2)] pb-[var(--indent2)] px-0;
}
.header__bg {
  @apply absolute w-full tablet:w-[50%] laptop:w-[30%] h-full opacity-100 tablet:mr-[100px] right-0 top-0;
}
.header__bg img {
  @apply block relative w-full h-[100vh] tablet:h-4/5 object-cover first:z-[2] sm:first:mt-[10%] tablet:first:rounded-t-[10%] last:absolute last:blur-[50px] last:-translate-x-1/4 last:rotate-[5deg] last:scale-150 last:left-0 last:top-0;
}
.title {
  @apply relative text-[50px] md:text-[70px] lg:text-[length:var(--fz-big)] leading-none text-[color:var(--pr-color)] uppercase mix-blend-difference z-[2] m-0;
}
.title__wrapp {
  @apply flex justify-between items-center;
}
.title .stroke {
  @apply block text-transparent;
  -webkit-text-stroke: 1px var(--color-n3);
}
.title__img {
  @apply block w-[120px] h-[120px] md:w-[200px] md:h-[200px] opacity-70 rotate-[10deg];
}
.title__img img {
  @apply block w-full h-full text-[white];
}
.title__t {
  @apply inline-block translate-x-[-45px] tablet:translate-x-[-105px];
}
.section {
  @apply h-screen;
}

.section-quantity {
  @apply h-auto md:h-screen;
}

.section .parallax__wrapp {
  @apply px-0 py-[50px];
}
.gsap__anim {
  @apply will-change-transform overflow-hidden;
  background: #e8e8e8;
}
.serv .parallax__wrapp {
  @apply px-0 py-[120px];
}
.serv__wrapp {
  @apply flex flex-col;
}
.serv__list {
  @apply relative z-[2] mt-10 md:mt-auto;
}
.serv .content,
.serv .serv__wrapp {
  @apply h-full;
}
.serv__item {
  @apply relative text-white text-[25px] md:text-[40px] uppercase border border-[color:var(--color-n3)] cursor-pointer pl-[30px] px-0 py-[30px] border-solid hover:text-[color:var(--pr-color)] hover:z-[2];
  list-style: none;
}
.serv__item-img {
  @apply absolute block w-[200px] h-[200px] lg:w-[350px] lg:h-[400px] pointer-events-none -translate-y-2/4 transition-[0.4s] right-[15%] top-2/4;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
}
.serv__item-img img {
  @apply block w-full h-full object-cover;
}
.serv__item:hover {
  background: var(--color-n3);
}
.serv__item:hover .serv__item-img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.approve .content,
.approve__wrapp {
  @apply h-full;
}
.approve__wrapp {
  @apply flex justify-center items-center;
}
.approve__txt {
  @apply relative flex flex-col items-center justify-center text-[60px] md:text-[length:var(--fz-big)] leading-none text-[color:var(--pr-color)] uppercase;
}
.approve__ix {
  @apply relative z-[2] text-center;
}
.approve__star {
  @apply absolute w-[250px] h-[250px] md:w-[500px] md:h-[500px] opacity-10 -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4;
}
.approve__star img {
  @apply block w-full h-full;
}
