@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sign in Sign up  */
.input-field {
  height: 50px;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  border-radius: 5px;
}
